ul li {
  margin-left: -0.4rem;
  padding-left: 0.4rem;
}

ol li {
  margin-left: -0.4rem;
  padding-left: 0.4rem;
}

.cross-fade-leave {
  opacity: 1;
}
.cross-fade-leave.cross-fade-leave-active {
  opacity: 0;
  transition: opacity 0.4s ease;
}

.cross-fade-enter {
  opacity: 0;
}
.cross-fade-enter.cross-fade-enter-active {
  opacity: 1;
  transition: opacity 0.4s ease;
}

.cross-fade-height {
  transition: height 0.4s ease-in-out;
}

video {
  width: 100%;
}

figcaption {
  font-size: smaller;
  font-style: italic;
  text-align: center;
}

h3 a {
  box-shadow: none;
}
